*{
    font-family: Arial, Helvetica, sans-serif;
    color: #122439;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    z-index: 1;
}
body{
    background-color: #ACC8E5;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 99vw;
    overflow-x: hidden;
}
.grid-2x {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* title card */
#info {
    padding: 40px;
}
.languageBtn {
    border: 0;
    width: 35px;
    height: 25px;
    background-color: #ACC8E5;
    border: dashed 1px #ACC8E5;
}
.languageBtn:hover {
    border: dashed 1px #122439;
}
.languageBtn::after {
    color: #ffffff;
}
#welcome {
    height: 640px;
    text-align: center;
    padding-top: 115px;
}
#welcome #welcomeToP {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin-top: -300px;
}
#welcome #portfolio {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20rem;
}

/* about section */
#white {
    border-radius: 50% 50% 0 0;
    height: 500px;
    background-color: #ffffff;
    padding: 40px;
}
#aboutSection {
    background-color: #ffffff;
    margin-top: -240px;
}
#aboutSection #pic {
    height: 500px;
    border: dashed 4px #ACC8E5;
    border-radius: 40px;
    padding: 8px;
    margin: 0 auto;
}
#aboutSection #textBox { margin: 0 205px 0 -100px; }
a {
    text-decoration: none;
}
.Btn {
    display: inline-block;
    background-color: #122439;
    border: solid 2px #122439;
    border-radius: 15px;
    width: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    padding: 12px;
    margin: 160px 4px 0 4px;
}
.Btn:hover {
    background-color: #ffffff;
    border: dashed 2px #122439;
    color: #122439;
}
.hello { font-size: 5rem; }
#aboutSection #textBox .text {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 40px;
}

/* gallery */
#title {
    font-size: 3rem;
    background-color: #ffffff;
    border-bottom: dashed 4px #ACC8E5;
    padding: 300px 20px 30px 100px;
}
#galleryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    background-color: #ffffff;
    padding: 50px 8px 500px 8px;
}
#galleryGrid img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.container {
    grid-area: 5/3/7/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}
.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
#projectEnd {
    font-size: 2rem;
    text-align: center;
    grid-area: 14/1/15/3;
    padding: 40px;
    padding-bottom: 10px;
}

/* end */
#blueEnd {
    border-radius: 50% 50% 0 0;
    height: 500px;
    background-color: #ACC8E5;
    margin-top: -250px;
}
#goodbye .BtnEnd {
    display: inline-block;
    background-color: #ACC8E5;
    border: 0;
    border-bottom: dashed 2px #122439;
    width: 80px;
    color: #122439;
    text-align: center;
    font-size: 0.8rem;
    padding: 12px;
    margin: 260px 16px 30px 16px;
}
#goodbye .BtnEnd:hover {
    border-bottom: dashed 2px #ffffff;
    color: #ffffff;
}
#goodbye {
    text-align: center;
    margin-top: -180px;
}
#Bye {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20rem;
}
#seeYa {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin-top: -300px;
}
